* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-inter: "Inter", "Inter Fallback", sans-serif;
    --font-medium: 500;
    --font-semibold: 600;
    --color-text-main: #050607;
    --color-text-white: #ffffff;
    --color-text-main-80: rgba(5, 6, 7, 0.8);
    --color-text-main-60: rgba(5, 6, 7, 0.6);
    --btn-radius: 3.40282e38px;
}

body {
    font-family: var(--font-inter);
    width: 100%;
    min-height: 100vh;

}

.btn-bg-light {
    background-color: #08090a08;
    padding: 10px 20px;
    color: var(--color-text-main);
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: var(--font-medium);
    white-space: nowrap;
}

#btn-start {
    background-color: #ffffff;
    color: var(--color-text-main);

}

.container {
    width: 70%;
    margin: 0 auto;

}

.header-wrapper {
    position: fixed;
    backdrop-filter: blur(16px);
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;

}

.nav-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-item {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-item li a {
    color: var(--color-text-main);
    font-weight: var(--font-medium);
    font-size: 15px
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


.hero-section {
    background-image: url("./assets/bg-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 100vh;
    position: relative;

    /* fade out from bottom */
    mask-image: linear-gradient(to bottom,
            black 70%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            black 70%,
            transparent 100%);
}

.hero-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-para {

    width: max-content;
    margin: 0 auto;
    padding: 5px 7px;
    background-color: #034768;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    color: var(--color-text-white);
    margin-bottom: 20px;
}

.new {
    background: #0c8c5e;
    font-weight: var(--font-medium);
    border-radius: 60px;
    font-size: 12px;
    padding: 3px 6px;

}

.hero-para p {
    font-size: 14px;
    font-weight: var(--font-medium);
}

.hero-title {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--color-text-white);
}

.hero-title h1 {
    text-align: center;
    letter-spacing: -.02em;
    font-size: 60px;
    font-weight: var(--font-semibold)
}

.hero-title p {
    line-height: 27px;
    font-size: 18px;
    font-weight: var(--font-medium);
}


.input-wraper {
    width: 350px;
    max-width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 6px;
    border-radius: 9999px;

    backdrop-filter: blur(12px);
    background: #FFFFFF0F;
    border: 1px solid #FFFFFF1F;
}

.input-wraper input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    padding: 6px 0 6px 14px;
    font-size: 15px;
    font-family: var(--font-inter);
    color: var(--color-text-white);
}

.input-wraper input::placeholder {
    color: #FFFFFF99;
}

.input-btn {
    padding: 8px 12px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;

    background: var(--color-text-white);
    /* color: var(--color-text-main); */
    color: #08090a;

    font-size: 15px;
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.hero-img {
    border-radius: 20px;
    position: absolute;

    bottom: -33%;
    left: 21%;
}

.hero-img img {
    border-radius: 20px;
    height: 100%;


}



.brand-container {
    padding: 40px 60px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.brand-container div {
    padding: 20px 40px;

    text-align: center;
}

.ai-section {
    margin-top: 30px;
    text-align: center;
}