* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-inter: "Inter", "Inter Fallback", sans-serif;
    --font-medium: 500;
    --font-semibold: 600;
    --color-text-main: #050607;
    --color-text-white: #ffffff;
    --color-text-main-80: rgba(5, 6, 7, 0.8);
    --color-text-main-60: rgba(5, 6, 7, 0.6);
    --btn-radius: 3.40282e38px;
}

body {
    font-family: var(--font-inter);
    width: 100%;
    min-height: 100vh;

}

.btn-bg-light {
    background-color: #08090a08;
    padding: 10px 20px;
    color: var(--color-text-main);
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: var(--font-semibold);
    white-space: nowrap;
}

#btn-start {
    background-color: #ffffff;
    color: var(--color-text-main);

}

.container {
    width: 70%;
    margin: 0 auto;

}

.header-wrapper {
    position: fixed;
    backdrop-filter: blur(16px);
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;

}

.nav-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-item {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-item li a {
    color: var(--color-text-white);
    font-weight: var(--font-medium);
    font-size: 15px
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


.hero-section {
    background-image: url("./assets/bg-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 100vh;
    position: relative;
    mask-image: linear-gradient(to bottom,
            black 70%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            black 70%,
            transparent 100%);
}

.hero-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-para {

    width: max-content;
    margin: 0 auto;
    padding: 5px 7px;
    background-color: #034768;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    color: var(--color-text-white);
    margin-bottom: 20px;
}

.new {
    background: #0c8c5e;
    font-weight: var(--font-medium);
    border-radius: 60px;
    font-size: 12px;
    padding: 3px 6px;

}

.hero-para p {
    font-size: 14px;
    font-weight: var(--font-medium);
}

.hero-title {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--color-text-white);
}

.hero-title h1 {
    text-align: center;
    letter-spacing: -.02em;
    font-size: 60px;
    font-weight: var(--font-semibold)
}

.hero-title p {
    line-height: 27px;
    font-size: 18px;
    font-weight: var(--font-medium);
}


.input-wraper {
    width: 350px;
    max-width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 6px;
    border-radius: 9999px;

    backdrop-filter: blur(12px);
    background: #FFFFFF0F;
    border: 1px solid #FFFFFF1F;
}

.input-wraper input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    padding: 6px 0 6px 14px;
    font-size: 15px;
    font-family: var(--font-inter);
    color: var(--color-text-white);
}

.input-wraper input::placeholder {
    color: #FFFFFF99;
}

.input-btn {
    padding: 8px 12px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;

    background: var(--color-text-white);
    /* color: var(--color-text-main); */
    color: #08090a;

    font-size: 15px;
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.hero-img {
    border-radius: 20px;
    position: absolute;

    bottom: -33%;
    left: 21%;
}

.hero-img img {
    border-radius: 20px;
    height: 100%;
    transform: translateX(-13%);


}



.brand-container {
    padding: 40px 60px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.brand-container div {
    padding: 20px 40px;

    text-align: center;
}

.ai-section {
    margin-top: 30px;
    text-align: center;
    padding: 50px 0px 20px 0;
}

.ai-title {
    padding: 30px;
    text-align: center;
    --tw-leading: 110%;
    line-height: 110%;
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-main);
    letter-spacing: -.02em;
    font-size: 40px;
}

.ai-para {
    max-width: 610px;
    margin: 0 auto;
    color: #08090acc;
    text-align: center;
    margin-bottom: 50px;
}

.ai-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: stretch;



}

.ai-card {
    border: 1px solid #08090a12;
    border-radius: 1.5rem;
    padding: 30px;
    /* width: 50%; */
    text-align: left;
}

.card-head {
    text-transform: uppercase;
    color: #0c8c5e;

    font-weight: var(--font-medium);
    font-size: 12px;
    margin-bottom: 20px;
}

.ai-card h3 {
    font-size: 24px;
    font-weight: var(--font-medium);
    color: var(--color-text-main);
    margin-bottom: 10px;
}

.card-para {
    width: 80%;
    color: #08090acc !important;
    font-size: 16px !important;
    line-height: 1.5;
}

.as-heading {
    font-size: 24px;
    line-height: 1.5;
    font-weight: var(--font-medium);
    margin-bottom: 10px;
}

.enterprise-container {
    background-color: #08090a08;
    margin-top: 50px;

}

.wrapper {
    padding: 50px 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.enterprise-title {
    display: flex;
    align-items: flex-end;
}

.bring-heading {
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 1;
}

.btn-style {
    background-color: var(--color-text-main) !important;
    color: var(--color-text-white) !important;
}

.enter-card {
    margin-top: 20px;
    display: flex;
    padding: 20px 0;
    gap: 20px
}

.svg-div {
    height: 32px;
    width: 32px;
}

.card-one {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.build-title {
    font-size: 20px;
    color: var(--color-text-main);
    font-weight: var(--font-medium);
}

.build-para {

    font-size: 16px;
    font-weight: var(--font-medium);
    color: #08090acc;
}

.img-container {
    padding: 30px 0;
    object-fit: cover;
}

.img-container img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.card-3 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.contact-wrapper {

    padding: 7.5rem 0 5rem 0;
    /* width: 70%; */
    margin: auto;
    text-align: center;
}

.contact-title {
    max-width: 510px;
    margin: auto;
    padding: 10px 0px;
    font-size: 40px;
    color: var(--color-text-main);
    font-weight: var(--font-semibold);
    line-height: 1;
}

.contact-para {
    max-width: 550px;
    margin: auto;
    padding: 10px 0px 30px 0;
    font-size: 16px;
    color: var(--color-text-main);
    font-weight: var(--font-medium);
    line-height: 1;
}

.btn-group-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;

}

.demo-btn {
    background-color: var(--color-text-white);
    border: 1px solid #08090a26 !important;

}

.contact-card {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    min-height: 400px;

}

#doc-icon {
    height: 60px;
    width: 60px;
    padding: 15px;
    border: 1px solid #08090a26;
    border-radius: 16px;

}

.carosel-card {
    padding: 30px;
    text-align: center;
    margin: auto;
}

.plan-para {
    color: #08090acc !important;
    font-size: 16px !important;
    line-height: 1.5;

}

.plan-link {
    color: #0c8c5e;
    font-weight: var(--font-medium);
    font-size: 15px;

}

.plan-link span svg {
    transform: rotate(-90deg);
    height: 10px;
    width: 10px;
    margin-left: 2px;
}

.footer-container {
    border-top: 1px solid#08090a0d;
}

.footer {
    /* padding: 3rem; */
    display: grid;
    /* grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(); */
    border: 1px solid #08090a0d;
}

.title-footer {
    padding: 3rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px 0; */
    border-bottom: 1px solid #08090a0d
}

.social-icon {
    display: flex;
    padding-right: 30px;
}

.footer-list {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #08090a0d
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.footer-title {
    text-transform: uppercase;
    color: #a8a8a8 !important;
    font-size: 13px;
    font-weight: var(--font-medium);

}

.list-link {
    display: inline-block;
    font-size: 14px;
    color: var(--color-text-main);
    font-weight: var(--font-medium);
    text-decoration: none;
    margin-bottom: 10px;

}

.backed-para {
    padding: 30px 0;
    border-bottom: 1px solid #08090a0d
}

.backed-para p {
    padding: 0 30px;
    color: #000000;
    font-size: 14px;
    font-weight: var(--font-medium);
    margin-right: 30px;
}

.system {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    border: none;
}

.copyright {
    font-size: 13px !important;
    color: #707071 !important;
    font-weight: var(var(--font-medium))
}

.system-para {
    padding: 0 !important;
    margin-right: 0 !important;
    /* background-color: #efefef; */

}